* {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  background: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .App {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

@media(max-width: 1000px) {
  .pageTitle {
    font-size: 6vw;
  }
}